body{
	font-family:Inconsolata, serif;
	margin-left: 1em;
	margin-right: 1em;
}
section.header-intro{
}
hr{
	margin-top: 3em;
	margin-bottom: 3em;
}
div.post{
	margin: 3em auto;
	padding-bottom: 3em;
	display: flex;
	flex-direction: row;
}
div.post-metadata,
div.post-content,
div.post-futures{
	flex: 1;
}
div.post-metadata{
        overflow: hidden;
        margin-left: 1em;
	margin-right: 1em;
        color: purple;
	text-align: right;
}
div.post-metadata h2{
        margin-bottom: 0;
        direction:rtl;
        white-space:nowrap;
}
div.post-metadata p{
        margin: 0;
        padding-right: 1em;
	border-right: 1px solid;
}
div.snowpoled{
}
div.post-metadata p.date-show{
	font-size: smaller;
}
div.post-content{
	max-width: 750px;
	margin-right: 0.5em;
	flex: 3 !important;
}
div.post-content p{
	margin: 0 0 1em 0;
}
div.post-content img{
	max-width: 750px;
}
div.post-futures{
	margin-top: 0.5em;
}
div.post-futures span:hover{
	cursor: pointer;
}
div.post-futures textarea.markdown,
div.post-futures textarea.html{
	display: none;
}
summary::marker{
	content: "";
}
h1{
}
h2{
	margin-top: 0;
}

/* index view */
table{
	margin-top: 2em;
}
table img{
	max-width: 600px;
}
th{
	position: sticky;
	top: 0;
	font-family: monospace;
	font-size: 12px;
	font-weight: normal;
}
th,
td {
	vertical-align: top;
	text-align: left;
	max-width: 600px;
}
tr {
}
th:hover{
	cursor: pointer;
}
span.tag{
	/* color: white; */
	display: block;
	/* font-size: 14px;
	background-color: hotpink;
	border-radius: 49%;
	padding: 0.75em 0.25em;
	line-height: 4;
	text-align: center; */
}
div.all-tags{
	position: sticky;
	top: 0;
}
div.all-tags .tag{
	display: inline-block;
	margin: 5px;
	border: 1px dotted;
	cursor: pointer;
	padding: 0.5em;
	background-color: white;
	font-family: monospace;
	font-size: 14px;
}
div.all-tags .tag.selected{
	background-color: hotpink !important;
	color: white;
}
.tag-selecting .post:not(.selected) p, .tag-selecting .post:not(.selected) .frontmatter, .tag-selecting .post:not(.selected) .post_content .snowpoled{
}
.tag-selecting .post:not(.selected) {
	display:none;
}

div.open-in-pad{
	display: block;
	float: right;
	margin-top: 20px;
	font-family: monospace;
	font-weight: bold;
	font-size: 16px;
}
a, a:visited, a:active{
	color: inherit;
}
ul{
	padding-left: 2rem;
	font-family: monospace, sans-serif;
}
pre{
	font-size: 16px;
	width: calc(100% - 2em);
	overflow: scroll;
}
