<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="aggregator.css">
</head>
<body>
<div id="wrapper">

	<!--  -->
    <details>
        <summary>
            <h1>circulations (1)</h1>
        </summary>
    {% for post_dir, post in db.items() %}
    <div class="post">
        <pre>---</pre>
        <strong>{{ post.frontmatter.title }}</strong>
        <div>
            <a href="{{ post_dir }}">aggregated</a>
            <a href="{{ post.frontmatter.original_link }}">source</a>
        </div>
        <small>{{ post.frontmatter.feed_name }}</small><br>
        <small>{{ post.frontmatter.date }}</small><br>
        <small>{{ post.frontmatter.author }}</small>
        <details>
            <summary>
                <small>post</small>
            </summary>
            <iframe src="{{ post_dir }}"></iframe>
        </details>
    </div>
    {% endfor %}

    <br>
    <br>
    <hr>
    </details>

	<!--  -->
    <h1>circulations (2)</h1>
    <table id="circulations">
    <thead>
        <tr>
            <th onclick="sortTable(0)">post</th>
            <th onclick="sortTable(1)">links</th>
            <th onclick="sortTable(2)">tags</th>
            <th onclick="sortTable(3)">feed</th>
            <th onclick="sortTable(4)">date</th>
            <th onclick="sortTable(5)">through</th>
        </tr>
    </thead>
    <tbody>
        {% for post_dir, post in db.items() %}
        <tr class="postel">
            <td>
                <details>
                    <summary>{{ post.frontmatter.title }}</summary>                    
                    <pre class="postcont">{{post.markdown}}</pre>
                </details>
            </td>
            <td>
                <a href="{{ post_dir }}">aggregated</a>
                <a href="{{ post.frontmatter.original_link }}">source</a>
                <a onclick="spawnPad(this,'{{ post.frontmatter.original_link }}')" class="postpad" href="#">send-to-pad</a>
            </td>
            <td>{% for tag in post.frontmatter.tags %}{{ tag }} {% endfor %}</td>
            <td>{{ post.frontmatter.feed_name }}</td>
            <td>{{ post.frontmatter.date }}</td>
            <td>{{ post.frontmatter.author }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>

function hashThis(str){
    var hash = 0;
    if (str.length == 0) return hash;
    for (i = 0; i < str.length; i++) {
        char = str.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
}


function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("circulations");
    switching = true;
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}

function spawnPad(elem,originalUrl){
    event.preventDefault();
    var padname = hashThis(originalUrl);

    var xhr = new XMLHttpRequest();
    var url = baseurl+"/api/1/createPad?apikey={{ pad_apikey }}&padID="+padname;
    xhr.open("GET", url, true);
    xhr.send();

    xhr.onload  = function() {
        if (xhr.status == 200){

            var text = elem.closest('.postel').querySelector('.postcont').textContent;
            var xhrs = new XMLHttpRequest();
            if ( padversion.localeCompare('1.2.13', undefined, { numeric: true, sensitivity: 'base' }) > 0 ){
                var url = baseurl+"/api/1/setText";
                xhrs.open("POST", url, true);
                xhrs.setRequestHeader ( "Content-Type" ,  "application/json" );
                xhrs.send(JSON.stringify({
                     "apikey": "{{pad_apikey}}",
                     "padID": padname,
                     "text":text
                 }));
            }else{
                var url = baseurl+"/api/1/setText?apikey={{ pad_apikey }}&padID="+padname+'&text='+encodeURIComponent(text);
                xhrs.open("GET", url, true);
                xhrs.send();
            }
            xhrs.onload = function() {
                if( xhrs.status == 200 && JSON.parse(xhrs.responseText)['code']== 0 ){
                    window.open(baseurl+'/p/'+padname, '_blank');
                }else{
                    console.log('something is wrong with the pad API setText',xhrs.status,xhrs.response);
                }
            };
        }else{
            console.log('something is wrong with the pad API createPad',xhr.status,xhr.response);
        }
    };
}

document.addEventListener('DOMContentLoaded',function(){
    baseurl = "{{ pad_baseurl }}";    
    if (!baseurl){
        console.log('no pad API settings',xhr.status,xhr.response);
        padlinks=document.querySelectorAll('postpad');
        padlinks.forEach(pl => {
        pl.remove();
        });
    }else{
        var xhrp = new XMLHttpRequest();
        var url = baseurl+'/api/';
        xhrp.open("GET", url, true);
        xhrp.send();
        xhrp.onload  = function() {
            if( (xhrp.status == 200) && (JSON.parse(xhrp.responseText)['currentVersion'])){
                padversion = JSON.parse(xhrp.responseText)['currentVersion'];
            } else {
                console.log('pad API not accessible',xhr.status,xhr.response);
                padlinks=document.querySelectorAll('postpad');
                padlinks.forEach(pl => {
                  pl.style.pointerEvents = 'none';
                });
            }
        };
    }
});
</script>
</div>
</body>
</html>