<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="read.css">
    <!-- <link rel="stylesheet" type="text/css" href="aggregator.css"> -->
    <script src="jquery-latest.js"></script>
    <script src="jquery.tablesorter.min.js"></script>
</head>
<body>
<div id="wrapper">
    <section class="header-intro">
	<h1>Aggregations</h1>

    	<p class= "header-intro__text">
            Continuous space for an ongoing collective process of capturing/collecting materials,
            with open ended editing/publishing possibilities throughout the year.
            Allowing multiple moments of editing, to grow a stream of published materials
            around techno-disobedient practices, based on RSS feeds.
    	</p>
      <strong>Currently aggregating:</strong>
      <ul>
  	    {% for feed in feeds %}
  	    <li><a href="{{feed}}" target="_blank">{{feed}}</a></li>
      	    {% endfor %}
      </ul>
    </section>
    <div class="all-tags">
          <strong> Found snowpoles: </strong>
          {% for tags in all_tags %}<span data-tag="{{tags}}" class="tag">++{{tags}}++</span>{% endfor %}
     </div>
    <hr>

    <!-- <div id="intro">
        <h2>How to use this editing space?</h2>

        <details>
            <summary>
                <span>
                    chat + sharing media files (images, video, audio):
                    <a href="https://dislog.vvvvvvaria.org/" target="_blank">https://dislog.vvvvvvaria.org/</a> (<a href="https://vvvvvvaria.org/logs/dislog/feed.rss.xml" target="_blank">RSS</a>)
                </span>
            </summary>
            <p>
                This groupchat can be used for different forms of exchange.
                <strong>Media files are gathered and included in the aggregations below.</strong>
            </p>
            <p>
                You can also join this groupchat with an <a href="https://xmpp.org/getting-started/" target="_blank">XMPP account</a> at <a href="xmpp://dislog@muc.vvvvvvaria.org?join">dislog@muc.vvvvvvaria.org</a>. The RSS feed is produced by <a href="https://git.vvvvvvaria.org/varia/bots/src/branch/master/LogBot" target="_blank">LogBot</a>.
            </p>
        </details>
        <details>
            <summary>
                <span>notes, texts, code</span>:
                <a href="https://pad.constantvzw.org/">https://pad.constantvzw.org/</a> (<a href="https://circulations.constantvzw.org/technodis.rss" target="_blank">RSS</a>)
            </summary>
            <p>
                A tool called Etherpad can be used for collective writing. New Etherpads, or also called simply "pads", can be made at any time to collect thoughts, make notes, write reflections, etc. <strong>When <code>++SNOWPOLES++</code> are used, pads are included in the aggregations below.</strong>
            </p>
            <p>
                <pre>
++SNOWPOLES++</pre>
                <em>Snowpoles</em> can be used to cluster pads.
                <pre>
+++++
SNOWFIELDS
+++++</pre>
            <em>Snowfields</em> can be used to mark edited sections on a pad.
            </p>
            <p>
                The RSS feed is produced by <a href="https://gitlab.constantvzw.org/aa/etherdump" target="_blank">etherdump</a>.
            </p>
        </details>
        <details>
            <summary>
                <span>
                    other RSS feeds
                </span>
            </summary>
            <p>
                More RSS feeds can be added.
            </p>
        </details>
    </div> -->

    <!--  -->

    <div id="reading-view">
      {% for post in db.posts %}
      <div class="post {% for tag in post.frontmatter.tags %}{{ tag | lower }} {% endfor %}{% if post.frontmatter.author %}{{ post.frontmatter.author }}{% endif %}">
        <div class="post-metadata">
          <h2>{{ post.post_path }}</h2>
          <br>
          <p class="snowpoles">{% for tag in post.frontmatter.tags %}<span class="tag">++{{ tag }}++ </span>{% endfor %}</p>
          <br>
          <p class="date-text">aggregated {{ post.frontmatter.date_display }}</p>
	  <p class="date-show">({{ post.frontmatter.date_show }})</p>
          <p class="feed-generator">by {{ post.frontmatter.author }}</p>
          <br>
          <p class="copy-link"><a href="{{ post.post_dir }}">aggregated copy</a></p>
          <p class="source-link"><a href="{{ post.frontmatter.original_link }}">source</a></p>
        </div>
        <div class="post-content">
          <h2>{{ post.post_name }}</h2>
          {% if "etherdump" in post.frontmatter.author %}
              {{ post.content }}
          {% else %}
              {{ post.content_non_parsed }}
          {% endif %}
        </div>
        <div class="post-futures">
          <div>→ <a href="#">[send-to-pad]</a></div>
          <div>
            → <span onclick="copy(this)">[copy markdown]</span>
            <textarea class="markdown">
              {{ post.markdown }}
            </textarea>
            <br>
            → <span onclick="copy(this)">[copy HTML]</span>
            <textarea class="html">
	      {% if "etherdump" in post.frontmatter.author %}
              	{{ post.content }}
              {% else %}
              	{{ post.content_non_parsed }}
              {% endif %}
            </textarea>
          </div>
          <script>
            function copy(clickeditem) {
              var texttocopy = clickeditem.nextElementSibling;
              texttocopy.select();
              texttocopy.setSelectionRange(0, 99999); // For mobile devices
              navigator.clipboard.writeText(texttocopy.value);
              alert("Copied the text: " + texttocopy.value);
            }
          </script>
        </div>
      </div>
      {% endfor %}
    </div>

    <hr>

    <div id="index-view">
      <table cellspacing="5px">
        <thead>
          <tr>
            <th>source</th>
            <th>post</th>
            <th>aggregated copy</th>
            <th>tag(s)</th>
            <th>aggregated</th>
	    <th>which is</th>
            <th>by</th>
            <th>send-to-pad</th>
          </tr>
        </thead>
        <tbody>
        {% for post in db.posts %}
          <tr class="post {% for tag in post.frontmatter.tags %}{{ tag | lower }} {% endfor %}{% if post.frontmatter.author %}{{ post.frontmatter.author }}{% endif %}">
            <td>{{ post.post_path }}</td>
            <td><strong><a href="{{ post.frontmatter.original_link }}">{{ post.frontmatter.title }}</a><strong></td>
            <td><a href="{{ post.post_dir }}">link</a></td>
            <td>{% for tag in post.frontmatter.tags %}<span class="tag">++{{ tag }}++ </span>{% endfor %}</td>
	    <td>{{ post.frontmatter.date}}</td>
            <td>{{ post.frontmatter.date_display}}</td>
            <td>{{ post.frontmatter.author }}</td>
            <td><a href="#">[send-to-pad]</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<script>
function hashThis(str){
    var hash = 0;
    if (str.length == 0) return hash;
    for (i = 0; i < str.length; i++) {
        char = str.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
}

//
// function sortTable(n) {
//     var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
//     table = document.getElementById("circulations");
//     switching = true;
//     dir = "asc";
//     while (switching) {
//         switching = false;
//         rows = table.rows;
//         for (i = 1; i < (rows.length - 1); i++) {
//             shouldSwitch = false;
//             x = rows[i].getElementsByTagName("TD")[n];
//             y = rows[i + 1].getElementsByTagName("TD")[n];
//             if (dir == "asc") {
//                 if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
//                     shouldSwitch = true;
//                     break;
//                 }
//             } else if (dir == "desc") {
//                 if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
//                     shouldSwitch = true;
//                     break;
//                 }
//             }
//         }
//         if (shouldSwitch) {
//             rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
//             switching = true;
//             switchcount ++;
//         } else {
//             if (switchcount == 0 && dir == "asc") {
//                 dir = "desc";
//                 switching = true;
//             }
//         }
//     }
// }
//
// function spawnPad(elem,originalUrl){
//     event.preventDefault();
//     var padname = hashThis(originalUrl);
//
//     var xhr = new XMLHttpRequest();
//     var url = baseurl+"/api/1/createPad?apikey={{ pad_apikey }}&padID="+padname;
//     xhr.open("GET", url, true);
//     xhr.send();
//
//     xhr.onload  = function() {
//         if (xhr.status == 200){
//
//             var text = elem.closest('.postel').querySelector('.postcont').textContent;
//             var xhrs = new XMLHttpRequest();
//             if ( padversion.localeCompare('1.2.13', undefined, { numeric: true, sensitivity: 'base' }) > 0 ){
//                 var url = baseurl+"/api/1/setText";
//                 xhrs.open("POST", url, true);
//                 xhrs.setRequestHeader ( "Content-Type" ,  "application/json" );
//                 xhrs.send(JSON.stringify({
//                      "apikey": "{{pad_apikey}}",
//                      "padID": padname,
//                      "text":text
//                  }));
//             }else{
//                 var url = baseurl+"/api/1/setText?apikey={{ pad_apikey }}&padID="+padname+'&text='+encodeURIComponent(text);
//                 xhrs.open("GET", url, true);
//                 xhrs.send();
//             }
//             xhrs.onload = function() {
//                 if( xhrs.status == 200 && JSON.parse(xhrs.responseText)['code']== 0 ){
//                     window.open(baseurl+'/p/'+padname, '_blank');
//                 }else{
//                     console.log('something is wrong with the pad API setText',xhrs.status,xhrs.response);
//                 }
//             };
//         }else{
//             console.log('something is wrong with the pad API createPad',xhr.status,xhr.response);
//         }
//     };
// }
//
// document.addEventListener('DOMContentLoaded',function(){
//     baseurl = "{{ pad_baseurl }}";
//     if (!baseurl){
//         console.log('no pad API settings',xhr.status,xhr.response);
//         padlinks=document.querySelectorAll('postpad');
//         padlinks.forEach(pl => {
//         pl.remove();
//         });
//     }else{
//         var xhrp = new XMLHttpRequest();
//         var url = baseurl+'/api/';
//         xhrp.open("GET", url, true);
//         xhrp.send();
//         xhrp.onload  = function() {
//             if( (xhrp.status == 200) && (JSON.parse(xhrp.responseText)['currentVersion'])){
//                 padversion = JSON.parse(xhrp.responseText)['currentVersion'];
//             } else {
//                 console.log('pad API not accessible',xhr.status,xhr.response);
//                 padlinks=document.querySelectorAll('postpad');
//                 padlinks.forEach(pl => {
//                   pl.style.pointerEvents = 'none';
//                 });
//             }
//         };
//     }
// });


allTags=document.querySelectorAll('.all-tags .tag');

Array.from(allTags).forEach(function(element) {
	element.addEventListener('click', function(){
		if (Array.from(this.classList).includes('selected')) {
			this.classList.remove('selected');
			toChange= document.querySelectorAll('.post.'+this.dataset.tag);
			Array.from(toChange).forEach(function(element) {
				element.classList.remove('selected');
			});
			if (document.querySelectorAll('.all-tags .selected').length == 0){
				document.body.classList.remove('tag-selecting');
			}
		}else{
			this.classList.add('selected');
			document.body.classList.add('tag-selecting');
			toChange= document.querySelectorAll('.post.'+this.dataset.tag);
			Array.from(toChange).forEach(function(element) {
				element.classList.add('selected');
			});
		}
	});
});

</script>
<script>
$(document).ready(function()
    {
        $("table").tablesorter({sortList: [[6,0]]});
    }
);
</script>
</div>
</body>
</html>
